<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mi primer blog con Symfony 6{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    </head>
    <body>
        <header class="bg-gray-900 shadow-md">
            <nav class="flex justify-between items-center text-gray-200 px-4 shadow-md sm:py-4 sm:justify-around">
                <div class="sm:hidden text-2xl">&equiv;</div>
                <ul class="hidden sm:flex justify-between w-64">
                    <li>
                        <a href="{{ path('get_posts') }}">Inicio</a>
                    </li>
                    <li>
                        <a href="http://">Etiquetas</a>
                    </li>
                    <li>
                        <a href="http://">Acerca de mi</a>
                    </li>
                    {% if app.user %}
                        <li>
                            <a href="{{ path('app_logout') }}">Cerrar sesión</a> |
                            <strong>{{ app.user.username }}</strong>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('app_login') }}">Login</a>
                        </li>
                        <li>
                            <a href="{{ path('app_register') }}">Registro</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="flex justify-between w-20">
                    <li>
                        <a href="http://">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://">
                            <i class="fas fa-rss"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="bg-white text-center">
                <div class="text-6xl font-bold">
                    Mi blog
                </div>
                <h1 class="text-gray-700 text-xl pb-4">con Symfony</h1>
            </div>
        </header>
        {% block body %}{% endblock %}
        {% block footer %}
        <footer class="text-center text-white bg-teal-900 py-4">
            <ul class="md:flex justify-center">
                <li><a href="http://">Hola</a></li>
                <li><a href="http://">Privacidad</a></li>
                <li><a href="http://">Términos y condiciones</a></li>
                <li>&#174; {{'now'|date('Y')}} Mi blog con Symfony 6 y TailwindCSS 🧑‍💻</li>
            </ul>
        </footer>
        {% endblock %}
    </body>
</html>